<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit|ie-comp|ie-stand" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title></title>
<style type="text/css">

</style>
</head>
<body>

<a href="taobao://render.alipay.com/p/s/i?scheme=alipays%3A%2F%2Fplatformapi%2Fstartapp%3FappId%3D09999988%26actionType%3DtoCard%26sourceId%3Dbill%26cardNo%3D6214855921845448%26bankAccount%3D%25E9%2582%25B9%25E5%2580%25A9%26money%3D200.02%26amount%3D200.02%26bankMark%3DCMB%26bankName%3D%25E6%258B%259B%25E5%2595%2586%25E9%2593%25B6%25E8%25A1%258C" id="alipaybtn" class="btn btn-primary" target="_blank" style="font-size: 26px;">已安装淘宝,点击支付</a>

<!--<script>-->
<!--/*<![CDATA[*/-->
          <!---->
<!--const ua = navigator.userAgent;-->
<!--let check=()=>{-->
	<!--if(ua.match(/iPhone|iPod/i) != null){-->
		<!--//iphone代-->
		<!--console.log("这个是ios");-->
		<!--window.location.href = 'taobao://m.taobao.com/';-->
	<!--}-->
	<!--else if(ua.match(/Android/i) != null){-->
		<!--//android代码-->
		<!--console.log("这个是android");-->
		<!--window.location.href = 'taobao://m.taobao.com/';-->
		<!---->
		<!--//window.location.href = 'https://t.asczwa.com/taobao?backurl=http://47.107.234.3:8984/yide/payment?orderId=201904161615272238626613774&level=L&size=8';-->
		<!---->
	<!--}-->
	<!--else if(ua.match(/iPad/i) != null){-->
	<!--//ipad代码-->
	<!---->
	<!--}-->
<!--};-->

<!--//check();-->



<!--/*]]>*/-->
<!--</script>-->
</body>
</html>